body {
  background-image: url('./assets/img/delicious-neapolitan-pizza-board.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'arial', regular;
  color: #fff;
  margin: 0;
  padding: 0;
}

.navegacion {
  box-shadow: 10px 2px 10px rgba(7, 7, 7, 0.5);
}

.pizza-spinner span {
  animation: spin 0s;
  font-size: 30px;
}

.header {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido al final (derecha) */
  padding: 50px; /* Opcional, agrega un pequeño espacio alrededor del contenido */
}

.header h1 {
  font-size: 3em;
  margin: 0; /* Asegura que no haya margen adicional que desplace el texto */
}

.productos {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 1500px;

  border-radius: 15px;
  background-color: rgba(40, 39, 39, 0.8);
}

.producto-card {
  flex: 1;
  background-color: #fff;
  color: #010101;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .header {
    height: 30vh;
    margin-top: 20vh;
  }

  .header h1 {
    font-size: 2.5em;
  }

  .productos {
    flex-direction: column;
    gap: 1rem;
  }

  .producto-card {
    margin-bottom: 1rem;
  }
}

.footer-container {
  margin: 0;
  padding: 0;
}

.footer-text {
  padding: 5px; /* Reduce el padding */
  font-size: 0.8rem; /* Reduce el tamaño de la fuente */
  margin: 0; /* Asegura que no haya margen adicional */
}

.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.5);
  z-index: 999;
}

.productos {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 3rem;
  box-shadow: 4px 10px 20px rgb(11, 11, 11);
  border-radius: 20px;
  background-color: rgba(40, 39, 39, 0.896);
}

.card-pizza {
  background-color: white; /* Fondo blanco */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-pizza:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
